@import "tailwindcss";
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.ListButton {
    @apply px-4;
}

.ListButtonGroup .ListButton {
    @apply pl-4 pr-0;
    .inner-text{
        @apply pr-4
    }
    &:not(:last-child) {
        .inner-text {
            box-shadow: inset 0 -1px 0 rgb(from var(--tg-theme-section-separator-color) r g b / 60%);
            box-shadow: inset 0 -.5px 0 rgb(from var(--tg-theme-section-separator-color) r g b / 60%);
        }
    }
}